.cart-title {
	margin-top: 50px;
	font-weight: normal;
}

.cart-content-empty {
	height: 300px;
	font-size: 20px;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart-content-empty i {
	font-size: 40px;
}

.cart-content-empty span {
	margin: 10px 0 20px;
}

.cart-product-list {
	margin-top: 30px;
}

.cart-product-list thead,
.cart-product-list tbody {
	border: 1px solid var(--primary-color);
}

.cart-product-item-img {
	width: 100px;
	object-fit: cover;
}

.cart-product-item-name {
	max-width: 200px;
	white-space: unset;
}

.cart-product-item-old-price {
	margin-right: 5px;
	font-size: 15px;
}

.cart-product-item-curr-price,
.cart-product-item-total-price {
	color: var(--primary-color);
	font-weight: 600;
	font-size: 18px;
}

.cart-product-item-action {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cart-product-item-action i {
	font-size: 25px;
	cursor: pointer;
	transition: color 0.1s ease-in-out;
}

.cart-product-item-action i:hover {
	color: var(--primary-color);
}

.cart-product-payment {
	margin-top: 30px;
}

.cart-product-box-header {
	padding: 10px 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	background-color: var(--primary-color);
	color: var(--white-color);
}

.cart-product-box-content {
	padding: 20px;
	border: 1px solid var(--primary-color);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.cart-product-box-content > * ~ * {
	margin-top: 20px;
}

.cart-product-discount-code > input {
	height: 40px;
	width: 50%;
	padding: 0 10px;
	outline: 0;
}

.cart-product-box-cost {
	display: flex;
	justify-content: space-between;
}

.cart-product-box-btn {
	text-align: right;
}

/* responsive */
@media only screen and (max-width: 1024px) {
	.cart-product-header {
		display: none;
	}

	.cart-product-list {
		border: 0;
		border-radius: 0;
		padding: unset;
	}

	.cart-product-item {
		margin: 0 0 20px 50px;
	}

	.mb-cart-info {
		margin: 0 0 0 130px;
		display: flex;
		align-items: center;
	}

	.cart-product-title {
		display: inline-block;
		margin: 10px;
	}
}

@media only screen and (max-width: 750px) {
	.cart-product-item {
		margin: 0 0 20px;
	}

	.cart-product-item > .cart-product-info > img {
		width: 80px;
	}

	.mb-cart-info {
		margin: 0 0 0 80px;
	}
}
/* end responsive */
