/* background */
.bg-second {
	background-color: var(--second-bg-color);
}

.bg-main {
	background-color: var(--main-bg-color);
}
/* end background */

/* mobile menu */
.mb-menu {
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	display: none;
}

.mb-menu__close {
	display: none;
}

.mb-logo {
	font-size: 20px;
	font-weight: 700;
}
/* end mobile menu */

/* header */
.top-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: var(--top-header-size);
	background-color: var(--main-bg-color);
}

.logo {
	font-size: 30px;
	font-weight: 700;
}

.search {
	width: 600px;
	height: 40px;
	position: relative;
}

.search > input {
	height: 100%;
	width: 100%;
	font-size: 16px;

	outline: 0;
	border: 0;
	border-radius: 5px;

	padding: 0 40px 0 20px;
	background-color: var(--second-bg-color);
}

.search > i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;

	cursor: pointer;
	font-size: 25px;
}

.user-menu {
	display: flex;
}

.user-menu > li > a {
	font-size: 28px;
	margin-left: 20px;
}

.bottom-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-menu {
	display: flex;
	height: var(--bottom-header-size);
}

.main-menu > li::after {
	content: '';
	display: block;

	height: 2px;
	width: 0;
	border-radius: 2px;
	background-color: var(--primary-color);
	transition: width 0.25s linear;

	margin: -8px 0 0 35px;
}

.main-menu > li:hover::after {
	width: calc(100% - 70px);
}

.main-menu > li > a {
	display: flex;
	align-items: center;
	margin: 0 35px;

	font-weight: 600;
	height: 100%;
	transition: color 0.2s linear;
}

.main-menu > li:hover > a {
	color: var(--primary-color);
}

/* mega menu */
.mega-content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;

	background-color: var(--main-bg-color);
	width: 100%;
	top: calc(100% + 100px);
	z-index: 2;

	box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
	transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mega-dropdown:hover .mega-content {
	opacity: 1;
	visibility: visible;
	top: 100%;
}

.mega-content h3 {
	margin: 20px 0;
	padding-left: 20px;
}

.mega-content ul {
	display: flex;
	flex-direction: column;
}

.mega-content ul > li > a {
	font-weight: normal;
	padding: 5px 0;
	transition: all 0.2s ease-in-out;
	margin: 0 20px;
	text-transform: capitalize;
}

.mega-content ul > li > a::after {
	content: '';
	display: block;

	height: 2px;
	width: 0;
	border-radius: 2px;
	background-color: var(--primary-color);
	transition: width 0.25s linear;

	margin-top: 5px;
}

.mega-content ul > li > a:hover {
	padding-left: 10px;
	color: var(--primary-color);
}

.mega-content ul > li > a:hover::after {
	width: 100%;
}
/* end mega menu */

.box {
	padding: 20px;
}
/* end header */

/* hero section */
.hero {
	height: var(--slider-size);
	padding: 0 20px;
}

.slider,
.slider .container {
	height: 100%;
	position: relative;
}

.slide {
	height: 100%;
	position: absolute;
	/* inset = top, right, bottom, left */
	inset: 0;

	display: flex;
	overflow: hidden;
	visibility: hidden;
}

.slide.active {
	visibility: visible;
}

.slide .info {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.info-content > h2 {
	font-size: 60px;
	margin: 10px 0 35px;
}

.info-content button {
	margin-top: 30px;
}

.slide .img {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	display: inline-block;
	border: 2px solid var(--black-color);
	background-color: var(--black-color);
	color: var(--white-color);

	outline: 0;
	border-radius: 3px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.btn > a {
	padding: 10px 25px;
	font-size: 14px;
}

.btn:hover {
	background-color: var(--white-color);
	color: var(--black-color);
}

.slide-controll {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	outline: 0;

	border: 0;
	border-radius: 50%;
	font-size: 20px;

	display: flex;
	align-items: center;
	padding: 10px;
	transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide-controll:hover {
	background-color: var(--black-color);
	color: var(--white-color);
}

.slide-prev {
	left: -80px;
}

.slide-next {
	right: -80px;
}

.slider:hover .slide-prev {
	left: 50px;
}

.slider:hover .slide-next {
	right: 50px;
}

/* slide animation */
.top-down {
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .top-down {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.right-left {
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .right-left {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.left-right {
	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .left-right {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.trans-delay-0-2 {
	transition-delay: 0.2s;
}

.trans-delay-0-4 {
	transition-delay: 0.4s;
}

.trans-delay-0-6 {
	transition-delay: 0.6s;
}
/* end slide animation */
/* end hero section */

/* promotion section */
.promotion,
.promotion [class*='col-'] {
	padding: 15px;
}

.promotion-box {
	display: flex;
	background-color: var(--second-bg-color);
	border-radius: 5px;
}

.promotion-box .text {
	flex-grow: 1;
	padding: 20px;
}

.promotion-box .text h3 {
	font-size: 20px;
}

.promotion-box .text p {
	margin-top: 10px;
}

.promotion-box img {
	width: 130px;
	transition: transform 0.3s ease-in-out;
}

.promotion-box:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.promotion-box:hover img {
	transform: scale(1.1);
}
/* end promotion section */

/* product list */
.section {
	padding: 40px 0;
}

.section-header,
.section-footer {
	text-align: center;
	margin: 50px 0 40px;
	text-transform: uppercase;
}

.section-header h2 {
	font-size: 25px;
}

.product-card {
	background-color: var(--main-bg-color);
	transition: all 0.3s ease-in-out;
}

.product-card:hover {
	background-color: var(--second-bg-color);
}

.product-card-img {
	height: 300px;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}

.product-card-img > img {
	max-width: 100%;
	transition: all 0.3s ease-in-out;
}

.product-card-img > img:last-child,
.product-card:hover .product-card-img > img:first-child {
	visibility: hidden;
	opacity: 0;
	display: none;
}

.product-card:hover .product-card-img > img:last-child {
	visibility: visible;
	opacity: 1;
	display: block;
}

.product-card-info {
	padding: 20px;
	text-align: center;
	position: relative;
}

.product-card-name {
	font-size: 20px;
	margin-bottom: 10px;
}

.product-card-price {
	font-size: 15px;
}

.product-card-price .curr-price {
	margin-left: 5px;
	font-size: 20px;
	font-weight: 600;
	color: var(--primary-color);
}

.product-btn {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	visibility: hidden;
	transition: translateY(20px);
	transition: all 0.3s ease-in-out;
}

.product-card:hover .product-btn {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.product-btn > * ~ * {
	margin-left: 5px;
}

.btn-buy-now > a,
.btn-cart-add,
.btn-heart {
	font-size: 15px;
	padding: 5px 10px;
	line-height: 17px;
}

.btn-buy-now > a {
	font-size: 12px;
}
/* end product list */
