/* hero section */
.hero {
	height: var(--slider-size);
	padding: 0 20px;
}

.slider,
.slider .container {
	height: 100%;
	position: relative;
}

.slide {
	height: 100%;
	position: absolute;
	/* inset = top, right, bottom, left */
	inset: 0;

	display: flex;
	overflow: hidden;
	visibility: hidden;
}

.slide.active {
	visibility: visible;
}

.slide .info {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.info-content > h2 {
	font-size: 60px;
	margin: 10px 0 35px;
}

.info-content button {
	margin-top: 30px;
}

.slide .img {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide-controll {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	outline: 0;

	border: 0;
	border-radius: 50%;
	font-size: 20px;

	display: flex;
	align-items: center;
	padding: 10px;
	transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide-controll:hover {
	background-color: var(--black-color);
	color: var(--white-color);
}

.slide-prev {
	left: -80px;
}

.slide-next {
	right: -80px;
}

.slider:hover .slide-prev {
	left: 50px;
}

.slider:hover .slide-next {
	right: 50px;
}

/* slide animation */
.top-down {
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .top-down {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.right-left {
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .right-left {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.left-right {
	transform: translateX(-100%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .left-right {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

.trans-delay-0-2 {
	transition-delay: 0.2s;
}

.trans-delay-0-4 {
	transition-delay: 0.4s;
}

.trans-delay-0-6 {
	transition-delay: 0.6s;
}
/* end slide animation */
/* end hero section */

/* promotion section */
.promotion,
.promotion [class*='col-'] {
	padding: 15px;
}

.promotion-box {
	display: flex;
	background-color: var(--second-bg-color);
	border-radius: 5px;
}

.promotion-box .text {
	flex-grow: 1;
	padding: 20px;
}

.promotion-box .text h3 {
	font-size: 20px;
}

.promotion-box .text p {
	margin-top: 10px;
}

.promotion-box img {
	width: 130px;
	transition: transform 0.3s ease-in-out;
}

.promotion-box:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.promotion-box:hover img {
	transform: scale(1.1);
}
/* end promotion section */

/* product list */
.section {
	padding: 40px 0;
}

.section-header,
.section-footer {
	text-align: center;
	margin: 60px 0;
	text-transform: uppercase;
}

.section-header h2 {
	font-size: 25px;
}
/* end product list */

/* special product */
.sp-item-name {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 30px;
}

.sp-item-description {
	margin-bottom: 60px;
}
/* end special product */

/* blogs */
.blog {
	display: flex;
	margin-bottom: 60px;
}

.blog-img,
.blog-info {
	width: 50%;
}

.blog-info {
	padding: 50px;
}

.blog-title {
	font-size: 30px;
	margin-bottom: 30px;
}

.blog-preview {
	margin-bottom: 50px;
}
/* end blogs */

/* responsive */
@media only screen and (max-width: 1024px) {
	/* hero section */
	.hero {
		height: calc(var(--slider-size) - 20vh);
		margin-bottom: 80px;
	}

	.slide {
		flex-direction: column-reverse;
	}

	.slide > .info,
	.slide > .img {
		width: 100%;
	}

	.slide > .img > img {
		max-width: 300px;
	}

	.slide-prev,
	.slider:hover .slide-prev {
		left: 40%;
	}

	.slide-next,
	.slider:hover .slide-next {
		right: 40%;
	}

	.slide-prev,
	.slide-next {
		bottom: -50px;
		top: unset;
		transform: unset;
	}
	/* end hero section */

	.promotion {
		margin: 15px 80px;
	}

	/* product list */
	.product-btn {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);

		position: relative;
		margin-bottom: 20px;
	}
	/* end product list */

	/* special product */
	.sp-item-info {
		padding-right: 30px;
	}
	/* end special product */

	/* blogs */
	.blog {
		flex-wrap: wrap;
	}

	.blog-img,
	.blog-info {
		width: 100%;
	}
	/* end blogs */
}

@media only screen and (max-width: 750px) {
	.hero {
		height: calc(var(--slider-size) - 30vh);
	}

	.slide > .img > img {
		max-width: 250px;
	}

	.info-content h2 {
		margin: 10px;
		font-size: 35px;
	}

	.info-content p {
		display: none;
	}

	.slide-prev,
	.slider:hover .slide-prev {
		left: 35%;
	}

	.slide-next,
	.slider:hover .slide-next {
		right: 35%;
	}

	.promotion {
		margin: 15px;
	}

	.blog-info {
		padding: 20px;
	}
}
/* end responsive */
