/* product img*/
.product-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-img > img {
	max-width: 70%;
}

.product-img-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-img-item {
	width: 90px;
	cursor: pointer;
	margin: 0 10px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
}

.product-img-item:hover {
	background-color: var(--second-bg-color);
}

.product-img-item.active {
	border-color: var(--primary-color);
	background-color: var(--second-bg-color);
	opacity: 0.5;
	cursor: default;
}
/* end product img*/

/* product detail */
.product-row {
	padding: 45px 0;
}

.product-info > * ~ * {
	margin-top: 25px;
}

.product-info-detail {
	display: flex;
	align-items: center;
}

.product-info-detail-status {
	padding: 5px 10px;
	color: var(--white-color);
	background-color: #ff00009d;

	margin-left: 10px;
	font-size: 14px;
	border-radius: 3px;
}

.product-info-detail-title {
	font-weight: 600;
	color: gray;
	margin-right: 10px;
}

.product-info-detail-price > span > del {
	margin-right: 10px;
}

.product-curr-price {
	font-size: 22px;
	font-weight: 600;
	color: var(--primary-color);
}

.product-color-list {
	display: flex;
}

.product-color-list > span {
	width: 25px;
	height: 25px;
	border: 2px solid #ccc;
	margin-right: 10px;

	border-radius: 50%;
	cursor: pointer;
}

.product-color-list > span.active {
	border-color: var(--black-color);
}

.product-quantity-curr {
	margin-left: 10px;
	font-size: 14px;
}

/* end product detail */

/* product description */
.box-header {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
}

.product-detail-description {
	position: relative;
	margin-bottom: 90px;
}

.product-detail-description-content {
	line-height: 26px;
	font-size: 16px;
	height: 600px;
	overflow-y: hidden;
}

.product-detail-description-content.active {
	height: max-content;
}

.btn-view-description {
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translateX(-50%);
}
/* end product description */

/* product rating */
.product-rating-header {
	background-color: #fffbf8;
	padding: 30px 20px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
}

.product-rating-rate > div {
	font-size: 30px;
	color: var(--primary-color);
}

.product-rating-rate > .rating {
	font-size: 20px;
}

.btn-rating-filter {
	margin-bottom: 5px;
}

.btn-rating > i {
	margin-right: 5px;
	font-size: 16px;
}

.product-rating-empty {
	height: 300px;
	font-size: 20px;

	display: none;
	justify-content: center;
	align-items: center;
}

.product-rating-empty i {
	margin-right: 5px;
	font-size: 30px;
}

.product-rating-content {
	padding: 20px;
}

/* product rating item */
.product-rating-item {
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 20px;
}

.product-rating-item:last-child {
	border: 0;
}

.product-rating-avatar {
	border-radius: 50%;
}

.product-rating-name {
	margin-bottom: 5px;
}

.product-rating-date {
	margin-top: 5px;
	font-size: 15px;
	color: #555;
}

.product-rating-item p {
	margin: 20px 0;
}

.product-rating-img {
	display: flex;
}

.product-rating-img > img {
	width: 120px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	margin-right: 10px;
}
/* end product rating item */
/* end product rating */
