.box {
	background-color: var(--main-bg-color);
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 10px;
}

/* sidebar */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: var(--main-bg-color);

	min-height: 100vh;
	width: var(--sidebar-size);
	transition: all 0.3s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.sidebar.short {
	width: 100px;
}

.sidebar > header {
	position: relative;
	height: var(--sidebar-header-size);
	width: 100%;
}

.sidebar-logo {
	display: flex;
	align-items: center;
	color: var(--primary-color);
	height: var(--sidebar-header-size);
	margin: 0 35px;
}

.sidebar-logo > i {
	font-size: 35px;
}

.sidebar-logo > span {
	font-size: 30px;
	font-weight: 700;
	margin-left: 10px;

	transition: opacity 0.3s ease-in-out;
	white-space: nowrap;
}

.sidebar.short .sidebar-logo > span {
	opacity: 0;
	visibility: hidden;
}

.sidebar > header > i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -13px;

	width: 26px;
	height: 26px;
	background-color: var(--primary-color);

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--white-color);
	border-radius: 50%;
	font-size: 22px;
	cursor: pointer;
}

.menu-bar {
	margin: 30px 20px;
}

.menu-item {
	padding: 15px 20px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 10px;

	display: flex;
	align-items: center;
	transition: all 0.1s ease-in-out;
}

.menu-item:hover,
.menu-item.active {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.menu-item > i {
	font-size: 22px;
	margin-right: 15px;
}

.menu-item > span {
	transition: opacity 0.3s ease-in-out;
	white-space: nowrap;
}

.sidebar.short .menu-item > span {
	opacity: 0;
	visibility: hidden;
}

.sidebar-logout {
	position: absolute;
	cursor: pointer;
	width: calc(100% - 40px);
	bottom: 50px;

	padding-top: 10px;
	border-top: 1px solid #e5e5e5;
}
/* end sidebar */

.container {
	margin-left: var(--sidebar-size);
	transition: all 0.3s ease-in-out;
}

.container.long {
	margin-left: 100px;
}

/* header */
.admin-header {
	height: var(--admin-header-size);
	padding: 0 60px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mb-menu {
	display: none;
}

.search {
	width: 300px;
	height: 40px;
	position: relative;
}

.search > input {
	height: 100%;
	width: 100%;
	font-size: 16px;

	outline: 0;
	border: 0;
	border-radius: 30px;
	padding: 0 40px 0 20px;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search > i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;

	cursor: pointer;
	font-size: 25px;
}

.user-menu {
	display: flex;
	align-items: center;
}

.user-menu > a {
	margin-left: 20px;
}

.user-menu > a > i {
	font-size: 30px;
}

.user-menu .user-menu-info {
	display: flex;
	align-items: center;
}

.user-menu .user-menu-info > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.user-menu .user-menu-info > span {
	margin: 0 5px;
}
/* end header */

.content {
	min-height: calc(100vh - var(--admin-header-size));
	margin: 20px;
}

.content > h2 {
	font-size: 22px;
	margin-bottom: 20px;
}

/* status */
.box-status {
	display: inline-block;
	border-radius: 5px;
	padding: 5px 15px;

	font-size: 15px;
	color: var(--white-color);
}

.box-info {
	background-color: #4070f4;
}

.box-warning {
	background-color: #f3d705;
}

.box-success {
	background-color: #008000;
}

.box-danger {
	background-color: #e30303;
}
/* end status */

/* responsive */
@media only screen and (max-width: 1024px) {
	.sidebar {
		left: -100%;
		transition: left 0.5s ease-in-out;
	}

	.sidebar.active {
		left: 0;
	}

	.container {
		margin-left: 0;
	}

	.mb-menu {
		display: block;
		font-size: 30px;
		margin-right: 5px;
	}
}

@media only screen and (max-width: 750px) {
	.admin-header {
		padding: 0 20px;
	}
}
/* end responsive */
