form textarea {
	width: 80%;
	height: 100px;
	padding: 10px;

	font-size: 16px;
	outline: 0;
	resize: none;
}

.form-btn {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.form-btn input {
	width: max-content;
	min-width: 120px;
	cursor: pointer;
	text-transform: unset;
}
